*{
    padding: 0;
    margin: 0;
}
html,body{
    width: 100%;
    height: 100%;
    position: relative;
}
#app{
    width: 100%;
    height: 100%;
    position: relative;
}
.sceneCode{
    position: absolute;
    width: 1rem;
    display: flex;
    height: 0.3rem;
    z-index: 2;
    top: 0.3rem;
    right: 0.2rem;
    font-size: 0.14rem;
    color: #999999;
}
.sceneCode .sceneCodeOne{
    margin-right: 0.15rem;
}
.bgBanner{
    width: 100%;
    height: 100%;
    box-sizing: border-box ;
    position: relative;
}
.bgBanner #swiperBgBanner{
    width: 100%;
    height: 100%;
}
.bgBanner #swiperBgBanner .imgOne{
    width: 100%;
    height: 100%;
    background: url("../images/1.jpg") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgTwo{
    width: 100%;
    height: 100%;
    background: url("../images/2.JPEG") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgThree{
    width: 100%;
    height: 100%;
    background: url("../images/3.jpg") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgFour{
    width: 100%;
    height: 100%;
    background: url("../images/4.jpg") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgFive{
    width: 100%;
    height: 100%;
    background: url("../images/5.jpg") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgSix{
    width: 100%;
    height: 100%;
    background: url("../images/6.jpg") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgSeven{
    width: 100%;
    height: 100%;
    background: url("../images/7.jpg") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgEight{
    width: 100%;
    height: 100%;
    background: url("../images/8.JPG") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .imgNight{
     width: 100%;
     height: 100%;
     background: url("../images/9.JPEG") no-repeat center;
     background-size: cover;
 }
.bgBanner #swiperBgBanner .img10{
    width: 100%;
    height: 100%;
    background: url("../images/10.JPEG") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .img11{
    width: 100%;
    height: 100%;
    background: url("../images/11.JPEG") no-repeat center;
    background-size: cover;
}
.bgBanner #swiperBgBanner .img12{
    width: 100%;
    height: 100%;
    background: url("../images/12.jpg") no-repeat center;
    background-size: cover;
}
.loveText{
    position: absolute;
    width: 3.4rem;
    height: 25%;
    top: 0.5rem;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 0.18rem;
    padding: 0.3rem 0.3rem 0.15rem 0.3rem;
    color: #999999;
}
.tiemDisatance{
    position: absolute;
    width: 3.3rem;
    top: 1rem;
    left: 0;
    right: 0;
    z-index: 3;
    font-size: 0.18rem;
    padding: 0.2rem 0.1rem 0.15rem 0.3rem;
    color: white;
}
.tiemDisatance span{
    font-size: 0.24rem;
}
.weTime{
    margin-bottom: 0.2rem;
}

.content{
    width: 0.9rem;/*主体(跳动)-大小和位置*/
    height: 0.9rem;
    margin: 0.6rem auto;
    position:relative;/*以此为基准画心*/
    animation-name: dump;      /* 绑定 */
    animation-delay: 0ms; /*延迟几秒后开始*/
    animation-duration: 1s; /*完成的时间*/
    animation-timing-function: ease-in-out;/*完成的速度方式*/
    animation-iteration-count: infinite;/*播放的次数*/
}

.content .left,.content .right{
    position:absolute;
    width: 0.6rem;/*2倍的半径*/
    height: 0.9rem;/*3倍的半径*/
    border-radius:200px 200px 0 0;/*心头的半径*/
    background: red;
    filter: drop-shadow(0 0 45px rgb(255,20,20));/* 滤镜 + 阴影 */
}

@keyframes dump{/*此动画在规定的完成时间内各阶段的状态 */
    0%{
        transform: scale(0.8,0.8);/*动画的形式-缩放动态(缩放的比例)*/
        opacity: 1;/* 透明度  */
    }
    50%{
        transform: scale(1,1);
        opacity: 0.5;
    }
    100%{
        transform: scale(0.8,0.8);
        opacity: 1;
    }
}
